<div class="col-xs-12 outerVA" style="height:90%; " >
    

    <div class="col-xs-4" style= "height:100%;margin-top: -80px;">
        <div class="innerVA" style="width: 100%;text-align: center;">
            

     
        
        </div>
    </div>

    <div class="col-xs-4" style= "height:100%;margin-top: -80px;">
        <div class="innerVA" style="width: 100%;text-align: center;">
        
            <a class="none" href="#/Checkin">
                <button class="btn btn-lg btn-menu" >
                    <span class="menu-icon fa fa-question-circle-o" style="font-size: 20vh;"></span>
                </button>
                <br />
                <span style="font-size: 3.5vh;">Start Game!</span>
            </a>
        
        </div>
    </div>

    <div class="col-xs-4" style= "height:100%;margin-top: -80px;">
        <div class="innerVA" style="width: 100%;text-align: center;">
   
        

        </div>
    </div>

    
</div>